@use 'vars' as *;

@mixin fonts {
  font-optical-sizing: auto;
  font-style: normal;
  color: $white;
}

@mixin playfair {
  @include fonts;

  font-family: $font-accent;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

@mixin raleway {
  @include fonts;

  font-family: $font-main;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

@mixin roboto {
  @include fonts;

  font-family: $font-external;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

@mixin input-mix {
  background-color: $main;
  height: 40px;
  border: solid $light 1px;
  padding: 0 12px 0 10px;
  border-radius: 5px;
  display: block;
}
