// Colors
$primary: #121212;
$secondary: #2e2e2e;
$secondary-light: #767676;
$red: #c11e44;

// Fonts
$font-accent: 'Playfair Display', serif;
$font-external: 'Roboto', sans-serif;
$font-main: 'Raleway', sans-serif;