@use 'reset';
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';

.playfair, .raleway, .roboto {
  font-optical-sizing: auto;
  font-style: normal;
  color: $white;

}

.playfair {
  font-family: $font-accent;
  font-weight: 500;
}

.raleway {
  font-family: $font-main;
  font-weight: 300;
}

.roboto {
  font-family: $font-external;
  font-weight: 400;
}

body {
  background-color: $dark;
  font-family: $font-main;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1140px;
}

h3 {
  color: #dcdcdc;
  line-height: 24px;
  font-weight: 900;
  font-size: 24px;
}

span {
  color: #dcdcdc;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

// .text-1 {
//   font-size: 14px;
//   font-weight: 600;
//   line-height: 20px;
//   color: #dcdcdc;
// }

// .text-2 {
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 24px;
//   color: #dcdcdc;
// }

// .text-3 {
//   font-size: 18px;
//   font-weight: 500;
//   line-height: 24px;
//   color: #dcdcdc;
// }

input::placeholder {
  color: white;
}
